#### Mike Bossy Stats and Awards

In [2]:
# imports
import pandas as pd
import numpy as np
import zipfile
import os

In [3]:
# unzip the folder
with zipfile.ZipFile('data/HockeyData.zip', 'r') as zip_ref:
    zip_ref.extractall('data')

**Hall of Fame dataframe**

In [4]:
# read hall of fame csv file
hof = pd.read_csv('data/HOF.csv')

In [5]:
# check if Mike Bossy has been admitted to the hall of fame 
hof.loc[hof['name']=='Mike Bossy']

     year       hofID        name category
275  1991  bossymi01h  Mike Bossy   Player

**Player awards**

In [6]:
# read awards csv file
awards = pd.read_csv('data/AwardsPlayers.csv')

In [13]:
# observe the awards given to Bossy
bossy_awards = awards.loc[awards['playerID'] == 'bossymi01'] 
bossy_awards.head()

      playerID                 award  year lgID note  pos
892  bossymi01                Calder  1977  NHL  NaN  NaN
905  bossymi01  Second Team All-Star  1977  NHL  NaN   RW
929  bossymi01  Second Team All-Star  1978  NHL  NaN   RW
963  bossymi01   First Team All-Star  1980  NHL  NaN   RW
986  bossymi01           Conn Smythe  1981  NHL  NaN  NaN

**Master dataframe**

In [11]:
# read master csv file
master = pd.read_csv('data/Master.csv')

In [14]:
# see Bossy's stats
bossy_stats = master.loc[master['playerID'] == 'bossymi01']
bossy_stats

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
637,bossymi01,NaN,bossymi01h,Mike,Bossy,NaN,Michael Jean,Boss,72.0,186.0,...,22.0,Canada,QC,Montreal,NaN,NaN,NaN,NaN,NaN,NaN

**Scoring**

In [15]:
# read scoring csv file
scoring = pd.read_csv('data/Scoring.csv')

In [10]:
scoring.columns

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'PPG', 'PPA', 'SHG', 'SHA', 'GWG', 'GTG', 'SOG',
       'PostGP', 'PostG', 'PostA', 'PostPts', 'PostPIM', 'Post+/-', 'PostPPG',
       'PostPPA', 'PostSHG', 'PostSHA', 'PostGWG', 'PostSOG'],
      dtype='object')

In [16]:
# observe stats scoring stats related to the player
bossy_score = scoring.loc[scoring['playerID'] == 'bossymi01']
bossy_score.head()

,playerID,year,stint,tmID,lgID,pos,GP,G,A,Pts,...,PostA,PostPts,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG
3531,bossymi01,1977,1,NYI,NHL,R,73.0,53.0,38.0,91.0,...,2.0,4.0,2.0,NaN,0.0,NaN,0.0,NaN,1.0,NaN
3532,bossymi01,1978,1,NYI,NHL,R,80.0,69.0,57.0,126.0,...,2.0,8.0,2.0,NaN,2.0,NaN,0.0,NaN,1.0,NaN
3533,bossymi01,1979,1,NYI,NHL,R,75.0,51.0,41.0,92.0,...,13.0,23.0,8.0,NaN,6.0,NaN,0.0,NaN,1.0,NaN
3534,bossymi01,1980,1,NYI,NHL,R,79.0,68.0,51.0,119.0,...,18.0,35.0,4.0,NaN,9.0,NaN,0.0,NaN,3.0,NaN
3535,bossymi01,1981,1,NYI,NHL,R,80.0,64.0,83.0,147.0,...,10.0,27.0,0.0,NaN,6.0,NaN,0.0,NaN,3.0,NaN

**Shootouts**

In [17]:
# read scoring shootouts csv file
shoot = pd.read_csv('data/ScoringShootout.csv')

In [18]:
# observe shots / goals ratio
bossy_shoot = shoot.loc[shoot['playerID'] == 'bossymi01']
bossy_shoot.head()

Empty DataFrame
Columns: [playerID, year, stint, tmID, S, G, GDG]
Index: []

#### New York Islanders Stats and Awards

**Series Wins & Losses**

In [19]:
# read series post csv file
series = pd.read_csv('data/SeriesPost.csv')

In [20]:
# see Islanders' wins
nyi_wins = series.loc[series['tmIDWinner'] == 'NYI']
nyi_wins.head()

,year,round,series,tmIDWinner,lgIDWinner,tmIDLoser,lgIDLoser,W,L,T,GoalsWinner,GoalsLoser,note
268,1974,Pre,D,NYI,NHL,NYR,NHL,2,1,0,10,13,NaN
272,1974,QF,H,NYI,NHL,PIT,NHL,4,3,0,21,18,NaN
284,1975,Pre,B,NYI,NHL,VAN,NHL,2,0,0,8,4,NaN
290,1975,QF,H,NYI,NHL,BUF,NHL,4,2,0,21,18,NaN
303,1976,Pre,A,NYI,NHL,CHI,NHL,2,0,0,7,3,NaN

In [21]:
# see Islanders' losses
nyi_losses = series.loc[series['tmIDLoser'] == 'NYI']
nyi_losses.head()

,year,round,series,tmIDWinner,lgIDWinner,tmIDLoser,lgIDLoser,W,L,T,GoalsWinner,GoalsLoser,note
273,1974,SF,I,PHI,NHL,NYI,NHL,4,3,0,19,16,NaN
291,1975,SF,I,MTL,NHL,NYI,NHL,4,1,0,17,14,NaN
311,1976,SF,I,MTL,NHL,NYI,NHL,4,2,0,19,13,NaN
327,1977,QF,G,TOR,NHL,NYI,NHL,4,3,0,16,13,NaN
345,1978,SF,I,NYR,NHL,NYI,NHL,4,2,0,18,13,NaN

**Team vs Team Stats**

In [23]:
# read team vs team csv file
team_vs_team = pd.read_csv('data/TeamVsTeam.csv')

In [24]:
# explore Islanders' opponents
nyi_team_stats = team_vs_team.loc[team_vs_team['tmID'] == 'NYI']
nyi_team_stats.head()

      year lgID tmID oppID  W  L    T  OTL
3301  1972  NHL  NYI   ATF  0  4  1.0  NaN
3302  1972  NHL  NYI   BOS  1  5  0.0  NaN
3303  1972  NHL  NYI   BUF  0  5  1.0  NaN
3304  1972  NHL  NYI   CHI  0  4  1.0  NaN
3305  1972  NHL  NYI   CLF  4  1  0.0  NaN

**Team Stats**

In [25]:
# read teams csv file
teams = pd.read_csv('data/Teams.csv')

In [26]:
# see Penguins' stats
nyi = teams.loc[teams['tmID'] == 'NYI']
nyi.head()

,year,lgID,tmID,franchID,confID,divID,rank,playoff,G,W,...,GA,name,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
510,1972,NHL,NYI,NYI,NaN,ED,8,NaN,78,12,...,347,New York Islanders,881.0,10.0,28.0,258.0,13.0,63.0,261.0,2.0
538,1973,NHL,NYI,NYI,NaN,ED,8,NaN,78,19,...,247,New York Islanders,1075.0,6.0,32.0,230.0,13.0,63.0,262.0,7.0
567,1974,NHL,NYI,NYI,CC,PT,3,SF,80,33,...,221,New York Islanders,1116.0,2.0,51.0,273.0,7.0,55.0,340.0,11.0
599,1975,NHL,NYI,NYI,CC,PT,2,SF,80,42,...,190,New York Islanders,1277.0,10.0,92.0,290.0,4.0,55.0,377.0,11.0
631,1976,NHL,NYI,NYI,CC,PT,2,SF,80,47,...,193,New York Islanders,1012.0,10.0,56.0,240.0,3.0,47.0,278.0,16.0

**Teams Half Season**

In [27]:
# read teams half season csv file
teamshalf = pd.read_csv('data/TeamsHalf.csv')

In [28]:
# look at Penguins' performance 
nyi_half = teamshalf.loc[teamshalf['tmID'] == 'NYI']
nyi_half.head()

Empty DataFrame
Columns: [year, lgID, tmID, half, rank, G, W, L, T, GF, GA]
Index: []

**Teams Post Seasons**

In [29]:
# read Teams post season csv file
teamspost = pd.read_csv('data/TeamsPost.csv')

In [30]:
# see Penguins' stats
nyi_post = teamspost.loc[teamspost['tmID'] == 'NYI']
nyi_post.head()

,year,lgID,tmID,G,W,L,T,GF,GA,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
323,1974,NHL,NYI,17,9,8,0,47,50,377.0,0.0,15.0,77.0,3.0,9.0,72.0,2.0
344,1975,NHL,NYI,13,7,6,0,43,39,247.0,0.0,9.0,49.0,2.0,7.0,60.0,1.0
367,1976,NHL,NYI,12,8,4,0,36,32,160.0,0.0,6.0,34.0,1.0,9.0,43.0,1.0
388,1977,NHL,NYI,7,3,4,0,13,16,175.0,0.0,3.0,28.0,0.0,4.0,26.0,0.0
404,1978,NHL,NYI,10,6,4,0,27,21,144.0,0.0,3.0,31.0,0.0,3.0,27.0,1.0

**Teams Stanley Cup**

In [31]:
# read teams stanley cup csv file
teamssc = pd.read_csv('data/TeamsSC.csv')

In [33]:
nyi_sc = teamssc.loc[teamssc['tmID'] == 'NYI'] # the data is up to 1925 and does not mention the New York Islanders
nyi_sc.head()

Empty DataFrame
Columns: [year, lgID, tmID, G, W, L, T, GF, GA, PIM]
Index: []