#### Reading and Exploring the Data

In [25]:
# imports
import pandas as pd
import numpy as np
import zipfile
import os

**High-level look at the data**

In [2]:
# unzip the folder
with zipfile.ZipFile('data/HockeyData.zip', 'r') as zip_ref:
    zip_ref.extractall('data')

In [52]:
# function to get an overview of the data
def see_file(filepath):
    df = pd.read_csv(filepath, error_bad_lines=False)
    print(df.head())
    print(df.info())
    print(df.describe())
    print(df.shape)
    print(df.isnull().sum())

In [53]:
see_file('data/abbrev.csv')

       Type  Code                            Fullname
0  Playoffs  NHAF                     Lost NHA finals
1  Playoffs  NHLF                     Lost NHL finals
2  Playoffs   CQF  Lost NHL conference quarter-finals
3  Playoffs   PRE          Lost NHL preliminary round
4  Playoffs     F             Lost Stanley Cup finals
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Type      58 non-null     object
 1   Code      58 non-null     object
 2   Fullname  58 non-null     object
dtypes: object(3)
memory usage: 1.5+ KB
None
            Type  Code            Fullname
count         58    58                  58
unique         4    49                  58
top     Playoffs  SCSF  Western Conference
freq          24     2                   1
(58, 3)
Type        0
Code        0
Fullname    0
dtype: int64

In [54]:
see_file('data/AwardsCoaches.csv')

      coachID                 award  year lgID  note
0  patrile01c   First Team All-Star  1930  NHL   NaN
1  irvindi01c  Second Team All-Star  1930  NHL   NaN
2  patrile01c   First Team All-Star  1931  NHL   NaN
3  irvindi01c  Second Team All-Star  1931  NHL   NaN
4  patrile01c   First Team All-Star  1932  NHL   NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   coachID  77 non-null     object
 1   award    77 non-null     object
 2   year     77 non-null     int64
 3   lgID     77 non-null     object
 4   note     0 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 3.1+ KB
None
              year  note
count    77.000000   0.0
mean   1967.649351   NaN
std      27.366310   NaN
min    1930.000000   NaN
25%    1939.000000   NaN
50%    1975.000000   NaN
75%    1991.000000   NaN
max    2011.000000   NaN
(77, 5)
coachID     0
award       0
year        0
lgID        0
note       77
dtype: int64

In [55]:
see_file('data/AwardsPlayers.csv')

    playerID     award  year lgID note  pos
0  malonjo01  Art Ross  1917  NHL  NaN  NaN
1  cleghod01  Art Ross  1918  NHL  NaN  NaN
2  malonjo01  Art Ross  1919  NHL  NaN  NaN
3  lalonne01  Art Ross  1920  NHL  NaN  NaN
4  broadpu01  Art Ross  1921  NHL  NaN  NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2091 entries, 0 to 2090
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  2091 non-null   object
 1   award     2091 non-null   object
 2   year      2091 non-null   int64
 3   lgID      2091 non-null   object
 4   note      127 non-null    object
 5   pos       1231 non-null   object
dtypes: int64(1), object(5)
memory usage: 98.1+ KB
None
              year
count  2091.000000
mean   1975.784314
std      23.254507
min    1917.000000
25%    1958.000000
50%    1978.000000
75%    1995.000000
max    2011.000000
(2091, 6)
playerID       0
award          0
year           0
lgID           0
note        1964
pos          860
dtype: int64

In [56]:
see_file('data/Coaches.csv')

     coachID  year tmID lgID  stint notes     g     w     l     t  postg  \
0  abelsi01c  1952  CHI  NHL      1   NaN  70.0  27.0  28.0  15.0    7.0
1  abelsi01c  1953  CHI  NHL      1   NaN  70.0  12.0  51.0   7.0    NaN
2  abelsi01c  1957  DET  NHL      2   NaN  33.0  16.0  12.0   5.0    4.0
3  abelsi01c  1958  DET  NHL      1   NaN  70.0  25.0  37.0   8.0    NaN
4  abelsi01c  1959  DET  NHL      1   NaN  70.0  26.0  29.0  15.0    6.0

   postw  postl  postt
0    3.0    4.0    0.0
1    NaN    NaN    NaN
2    0.0    4.0    0.0
3    NaN    NaN    NaN
4    2.0    4.0    0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1812 entries, 0 to 1811
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   coachID  1812 non-null   object
 1   year     1812 non-null   int64
 2   tmID     1812 non-null   object
 3   lgID     1812 non-null   object
 4   stint    1812 non-null   int64
 5   notes    11 non-null     object
 6   g        1811 non-null   float64
 7   w        1811 non-null   float64
 8   l        1811 non-null   float64
 9   t        1811 non-null   float64
 10  postg    927 non-null    float64
 11  postw    927 non-null    float64
 12  postl    927 non-null    float64
 13  postt    927 non-null    float64
dtypes: float64(8), int64(2), object(4)
memory usage: 198.3+ KB
None
              year        stint            g            w            l  \
count  1812.000000  1812.000000  1811.000000  1811.000000  1811.000000
mean   1975.887417     1.183775    58.281612    25.883490    24.766980
std      27.580263     0.435708    25.499067    14.365405    11.767163
min    1909.000000     1.000000     1.000000     0.000000     0.000000
25%    1964.000000     1.000000    37.000000    14.000000    16.000000
50%    1981.000000     1.000000    70.000000    26.000000    25.000000
75%    1998.000000     1.000000    80.000000    38.000000    33.000000
max    2011.000000     3.000000    84.000000    62.000000    71.000000

                 t       postg       postw       postl       postt
count  1811.000000  927.000000  927.000000  927.000000  927.000000
mean      7.636113    8.909385    4.417476    4.415318    0.075512
std       4.929962    5.497927    4.134802    2.000837    0.323176
min       0.000000    2.000000    0.000000    0.000000    0.000000
25%       4.000000    5.000000    1.000000    3.000000    0.000000
50%       8.000000    7.000000    3.000000    4.000000    0.000000
75%      11.000000   12.000000    7.000000    6.000000    0.000000
max      24.000000   26.000000   16.000000   11.000000    4.000000
(1812, 14)
coachID       0
year          0
tmID          0
lgID          0
stint         0
notes      1801
g             1
w             1
l             1
t             1
postg       885
postw       885
postl       885
postt       885
dtype: int64

In [58]:
see_file('data/CombinedShutouts.csv')

   year  month  date tmID oppID R/P  IDgoalie1  IDgoalie2
0  1929      3    14  TOR   NYA   R  chabolo01  grantbe01
1  1941      3    15  MTL   NYA   R  bibeapa01  gardibe01
2  1955      3    22  MTL   BOS   P  plantja01  hodgech01
3  1968      2    14  OAK   PHI   R  smithga01  hodgech01
4  1970     11     5  STL   BOS   R   hallgl01  wakeler01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       54 non-null     int64
 1   month      54 non-null     int64
 2   date       54 non-null     int64
 3   tmID       54 non-null     object
 4   oppID      54 non-null     object
 5   R/P        54 non-null     object
 6   IDgoalie1  54 non-null     object
 7   IDgoalie2  54 non-null     object
dtypes: int64(3), object(5)
memory usage: 3.5+ KB
None
              year      month       date
count    54.000000  54.000000  54.000000
mean   1989.925926   6.796296  13.333333
std      17.753928   4.427102   8.483057
min    1929.000000   1.000000   1.000000
25%    1977.750000   2.250000   7.000000
50%    1997.000000   7.500000  12.000000
75%    2001.750000  11.000000  21.000000
max    2012.000000  12.000000  31.000000
(54, 8)
year         0
month        0
date         0
tmID         0
oppID        0
R/P          0
IDgoalie1    0
IDgoalie2    0
dtype: int64

In [59]:
see_file('data/Goalies.csv')

    playerID  year  stint tmID lgID    GP     Min     W     L  T/OL  ...  \
0  abbotge01  1943      1  BOS  NHL   1.0    60.0   0.0   1.0   0.0  ...
1  abrahch01  1974      1  NEW  WHA  16.0   870.0   8.0   6.0   1.0  ...
2  abrahch01  1975      1  NEW  WHA  41.0  2385.0  18.0  18.0   2.0  ...
3  abrahch01  1976      1  NEW  WHA  45.0  2484.0  15.0  22.0   4.0  ...
4  adamsjo02  1972      1  BOS  NHL  14.0   780.0   9.0   3.0   1.0  ...

       SA  PostGP  PostMin  PostW  PostL  PostT  PostENG  PostSHO  PostGA  \
0     NaN     NaN      NaN    NaN    NaN    NaN      NaN      NaN     NaN
1   504.0     NaN      NaN    NaN    NaN    NaN      NaN      NaN     NaN
2  1221.0     1.0      1.0    0.0    0.0    NaN      0.0      0.0     0.0
3  1438.0     2.0     90.0    0.0    1.0    NaN      0.0      0.0     5.0
4     NaN     NaN      NaN    NaN    NaN    NaN      NaN      NaN     NaN

   PostSA
0     NaN
1     NaN
2     NaN
3    51.0
4     NaN

[5 rows x 23 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4189 entries, 0 to 4188
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  4189 non-null   object
 1   year      4189 non-null   int64
 2   stint     4189 non-null   int64
 3   tmID      4189 non-null   object
 4   lgID      4189 non-null   object
 5   GP        4168 non-null   float64
 6   Min       4168 non-null   float64
 7   W         4168 non-null   float64
 8   L         4168 non-null   float64
 9   T/OL      4168 non-null   float64
 10  ENG       3444 non-null   float64
 11  SHO       4168 non-null   float64
 12  GA        4168 non-null   float64
 13  SA        2596 non-null   float64
 14  PostGP    1417 non-null   float64
 15  PostMin   1417 non-null   float64
 16  PostW     1417 non-null   float64
 17  PostL     1417 non-null   float64
 18  PostT     106 non-null    float64
 19  PostENG   1165 non-null   float64
 20  PostSHO   1417 non-null   float64
 21  PostGA    1417 non-null   float64
 22  PostSA    793 non-null    float64
dtypes: float64(18), int64(2), object(3)
memory usage: 752.8+ KB
None
              year        stint           GP          Min            W  \
count  4189.000000  4189.000000  4168.000000  4168.000000  4168.000000
mean   1979.995703     1.058248    26.485605  1498.580374    10.955134
std      24.378609     0.239282    20.970119  1235.739566    10.612314
min    1909.000000     1.000000     1.000000     0.000000     0.000000
25%    1972.000000     1.000000     7.000000   334.750000     2.000000
50%    1985.000000     1.000000    23.000000  1256.000000     8.000000
75%    1998.000000     1.000000    43.000000  2460.000000    18.000000
max    2011.000000     3.000000    79.000000  4697.000000    48.000000

                 L         T/OL          ENG          SHO           GA  \
count  4168.000000  4168.000000  3444.000000  4168.000000  4168.000000
mean     10.543906     3.244722     1.689895     1.418186    76.487284
std       8.784654     3.556138     1.905920     2.207939    60.512088
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       3.000000     0.000000     0.000000     0.000000    20.000000
50%       9.000000     2.000000     1.000000     0.000000    68.000000
75%      17.000000     5.000000     3.000000     2.000000   122.000000
max      48.000000    22.000000    12.000000    22.000000   310.000000

                SA       PostGP      PostMin        PostW        PostL  \
count  2596.000000  1417.000000  1417.000000  1417.000000  1417.000000
mean    731.811248     6.035286   350.923077     2.796048     2.796048
std     608.036130     5.163857   325.707664     3.615728     2.188513
min       0.000000     1.000000     0.000000     0.000000     0.000000
25%     162.750000     2.000000   120.000000     0.000000     1.000000
50%     602.500000     4.000000   252.000000     1.000000     3.000000
75%    1202.250000     8.000000   488.000000     4.000000     4.000000
max    2488.000000    26.000000  1655.000000    16.000000    11.000000

            PostT      PostENG      PostSHO       PostGA      PostSA
count  106.000000  1165.000000  1417.000000  1417.000000  793.000000
mean     0.622642     0.449785     0.416373    16.085392  182.360656
std      0.749004     0.720534     0.843863    13.647724  175.156564
min      0.000000     0.000000     0.000000     0.000000    0.000000
25%      0.000000     0.000000     0.000000     6.000000   40.000000
50%      0.500000     0.000000     0.000000    13.000000  136.000000
75%      1.000000     1.000000     1.000000    23.000000  261.000000
max      4.000000     5.000000     7.000000    74.000000  849.000000
(4189, 23)
playerID       0
year           0
stint          0
tmID           0
lgID           0
GP            21
Min           21
W             21
L             21
T/OL          21
ENG          745
SHO           21
GA            21
SA          1593
PostGP      2772
PostMin     2772
PostW       2772
PostL       2772
PostT       4083
PostENG     3024
PostSHO     2772
PostGA      2772
PostSA      3396
dtype: int64

b'Skipping line 33: expected 23 fields, saw 24\nSkipping line 67: expected 23 fields, saw 24\nSkipping line 73: expected 23 fields, saw 24\nSkipping line 81: expected 23 fields, saw 24\nSkipping line 238: expected 23 fields, saw 24\nSkipping line 327: expected 23 fields, saw 24\nSkipping line 330: expected 23 fields, saw 24\nSkipping line 346: expected 23 fields, saw 24\nSkipping line 361: expected 23 fields, saw 24\nSkipping line 466: expected 23 fields, saw 24\nSkipping line 524: expected 23 fields, saw 24\nSkipping line 531: expected 23 fields, saw 24\nSkipping line 585: expected 23 fields, saw 24\nSkipping line 688: expected 23 fields, saw 24\nSkipping line 732: expected 23 fields, saw 24\nSkipping line 772: expected 23 fields, saw 24\nSkipping line 845: expected 23 fields, saw 24\nSkipping line 933: expected 23 fields, saw 24\nSkipping line 955: expected 23 fields, saw 24\nSkipping line 987: expected 23 fields, saw 24\nSkipping line 1065: expected 23 fields, saw 24\nSkipping line 1072: expected 23 fields, saw 24\nSkipping line 1080: expected 23 fields, saw 24\nSkipping line 1083: expected 23 fields, saw 24\nSkipping line 1214: expected 23 fields, saw 24\nSkipping line 1230: expected 23 fields, saw 24\nSkipping line 1343: expected 23 fields, saw 24\nSkipping line 1402: expected 23 fields, saw 24\nSkipping line 1485: expected 23 fields, saw 24\nSkipping line 1497: expected 23 fields, saw 24\nSkipping line 1515: expected 23 fields, saw 24\nSkipping line 1538: expected 23 fields, saw 24\nSkipping line 1582: expected 23 fields, saw 24\nSkipping line 1667: expected 23 fields, saw 24\nSkipping line 1725: expected 23 fields, saw 24\nSkipping line 1808: expected 23 fields, saw 24\nSkipping line 1819: expected 23 fields, saw 24\nSkipping line 1853: expected 23 fields, saw 24\nSkipping line 1889: expected 23 fields, saw 24\nSkipping line 1941: expected 23 fields, saw 24\nSkipping line 1998: expected 23 fields, saw 24\nSkipping line 2037: expected 23 fields, saw 24\nSkipping line 2040: expected 23 fields, saw 24\nSkipping line 2066: expected 23 fields, saw 24\nSkipping line 2112: expected 23 fields, saw 24\nSkipping line 2227: expected 23 fields, saw 24\nSkipping line 2235: expected 23 fields, saw 24\nSkipping line 2287: expected 23 fields, saw 24\nSkipping line 2384: expected 23 fields, saw 24\nSkipping line 2396: expected 23 fields, saw 24\nSkipping line 2403: expected 23 fields, saw 24\nSkipping line 2405: expected 23 fields, saw 24\nSkipping line 2439: expected 23 fields, saw 24\nSkipping line 2453: expected 23 fields, saw 24\nSkipping line 2474: expected 23 fields, saw 24\nSkipping line 2478: expected 23 fields, saw 24\nSkipping line 2522: expected 23 fields, saw 24\nSkipping line 2670: expected 23 fields, saw 24\nSkipping line 2691: expected 23 fields, saw 24\nSkipping line 2743: expected 23 fields, saw 24\nSkipping line 2789: expected 23 fields, saw 24\nSkipping line 2794: expected 23 fields, saw 24\nSkipping line 2808: expected 23 fields, saw 24\nSkipping line 2816: expected 23 fields, saw 24\nSkipping line 2934: expected 23 fields, saw 24\nSkipping line 2966: expected 23 fields, saw 24\nSkipping line 3032: expected 23 fields, saw 24\nSkipping line 3037: expected 23 fields, saw 24\nSkipping line 3065: expected 23 fields, saw 24\nSkipping line 3101: expected 23 fields, saw 24\nSkipping line 3112: expected 23 fields, saw 24\nSkipping line 3156: expected 23 fields, saw 24\nSkipping line 3246: expected 23 fields, saw 24\nSkipping line 3300: expected 23 fields, saw 24\nSkipping line 3366: expected 23 fields, saw 24\nSkipping line 3393: expected 23 fields, saw 24\nSkipping line 3444: expected 23 fields, saw 24\nSkipping line 3462: expected 23 fields, saw 24\nSkipping line 3592: expected 23 fields, saw 24\nSkipping line 3747: expected 23 fields, saw 24\nSkipping line 3799: expected 23 fields, saw 24\nSkipping line 3816: expected 23 fields, saw 24\nSkipping line 3824: expected 23 fields, saw 24\nSkipping line 3854: expected 23 fields, saw 24\nSkipping line 3911: expected 23 fields, saw 24\nSkipping line 3972: expected 23 fields, saw 24\nSkipping line 4046: expected 23 fields, saw 24\nSkipping line 4111: expected 23 fields, saw 24\nSkipping line 4264: expected 23 fields, saw 24\n'

In [36]:
see_file('data/GoaliesSC.csv')

    playerID  year tmID lgID  GP  Min  W  L  T  SHO  GA
0  benedcl01  1914  OT1  NHA   3  180  0  3  0    0  26
1  benedcl01  1919  OTS  NHL   5  300  3  2  0    1  11
2  benedcl01  1920  OTS  NHL   5  300  3  2  0    0  12
3  benedcl01  1922  OTS  NHL   6  361  5  1  0    1   8
4  benedcl01  1925  MTM  NHL   4  240  3  1  0    3   3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  31 non-null     object
 1   year      31 non-null     int64
 2   tmID      31 non-null     object
 3   lgID      31 non-null     object
 4   GP        31 non-null     int64
 5   Min       31 non-null     int64
 6   W         31 non-null     int64
 7   L         31 non-null     int64
 8   T         31 non-null     int64
 9   SHO       31 non-null     int64
 10  GA        31 non-null     int64
dtypes: int64(8), object(3)
memory usage: 2.8+ KB
None
              year         GP         Min          W          L          T  \
count    31.000000  31.000000   31.000000  31.000000  31.000000  31.000000
mean   1918.870968   3.967742  240.548387   1.935484   1.935484   0.064516
std       4.064004   1.196770   80.077395   1.314927   1.030711   0.249731
min    1912.000000   1.000000    2.000000   0.000000   0.000000   0.000000
25%    1915.500000   3.000000  187.500000   1.000000   1.000000   0.000000
50%    1919.000000   4.000000  240.000000   2.000000   2.000000   0.000000
75%    1922.000000   5.000000  300.000000   3.000000   3.000000   0.000000
max    1925.000000   6.000000  361.000000   5.000000   3.000000   1.000000

             SHO         GA
count  31.000000  31.000000
mean    0.387097  11.741935
std     0.715422   5.955209
min     0.000000   0.000000
25%     0.000000   8.000000
50%     0.000000  11.000000
75%     1.000000  15.500000
max     3.000000  26.000000
(31, 11)

In [60]:
see_file('data/GoaliesShootout.csv')

    playerID  year  stint tmID  W  L  SA  GA
0  aebisda01  2005      1  COL  2  1  10   2
1  aebisda01  2006      1  MTL  2  2  18   6
2  andercr01  2005      1  CHI  0  3   7   5
3  andercr01  2006      1  FLO  1  0   2   0
4  andercr01  2008      1  FLO  0  4  11   7
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  480 non-null    object
 1   year      480 non-null    int64
 2   stint     480 non-null    int64
 3   tmID      480 non-null    object
 4   W         480 non-null    int64
 5   L         480 non-null    int64
 6   SA        480 non-null    int64
 7   GA        480 non-null    int64
dtypes: int64(6), object(2)
memory usage: 30.1+ KB
None
              year       stint           W           L          SA          GA
count   480.000000  480.000000  480.000000  480.000000  480.000000  480.000000
mean   2007.935417    1.029167    2.370833    2.370833   16.616667    5.439583
std       2.025412    0.168449    2.209295    1.890528   12.557132    4.088848
min    2005.000000    1.000000    0.000000    0.000000    1.000000    0.000000
25%    2006.000000    1.000000    1.000000    1.000000    6.000000    2.000000
50%    2008.000000    1.000000    2.000000    2.000000   13.000000    5.000000
75%    2010.000000    1.000000    3.000000    4.000000   24.000000    8.000000
max    2011.000000    2.000000   10.000000    9.000000   62.000000   20.000000
(480, 8)
playerID    0
year        0
stint       0
tmID        0
W           0
L           0
SA          0
GA          0
dtype: int64

In [38]:
see_file('data/HOF.csv')

   year       hofID              name category
0  1945  bakerho01h       Hobey Baker   Player
1  1945  gardich01h  Charlie Gardiner   Player
2  1945  gerared01h      Eddie Gerard   Player
3  1945  mcgeefr01h       Frank McGee   Player
4  1945  morenho01h      Howie Morenz   Player
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      366 non-null    int64
 1   hofID     366 non-null    object
 2   name      366 non-null    object
 3   category  366 non-null    object
dtypes: int64(1), object(3)
memory usage: 11.6+ KB
None
              year
count   366.000000
mean   1975.098361
std      18.263254
min    1945.000000
25%    1962.000000
50%    1972.000000
75%    1990.000000
max    2011.000000
(366, 4)

In [61]:
see_file('data/Master.csv')

    playerID coachID hofID firstName    lastName nameNote         nameGiven  \
0  aaltoan01     NaN   NaN     Antti       Aalto      NaN             Antti
1  abbeybr01     NaN   NaN     Bruce       Abbey      NaN             Bruce
2  abbotge01     NaN   NaN    George      Abbott      NaN      George Henry
3  abbotre01     NaN   NaN       Reg      Abbott      NaN  Reginald Stewart
4  abdelju01     NaN   NaN    Justin  Abdelkader      NaN               NaN

   nameNick  height  weight  ... birthDay birthCountry  birthState  \
0       NaN    73.0   210.0  ...      4.0      Finland         NaN
1       NaN    73.0   185.0  ...     18.0       Canada          ON
2  Preacher    67.0   153.0  ...      3.0       Canada          ON
3       NaN    71.0   164.0  ...      4.0       Canada          MB
4       NaN    73.0   195.0  ...     25.0          USA          MI

      birthCity  deathYear  deathMon  deathDay  deathCountry deathState  \
0  Lappeenranta        NaN       NaN       NaN           NaN        NaN
1       Toronto        NaN       NaN       NaN           NaN        NaN
2      Synenham        NaN       NaN       NaN           NaN        NaN
3      Winnipeg        NaN       NaN       NaN           NaN        NaN
4      Muskegon        NaN       NaN       NaN           NaN        NaN

   deathCity
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

[5 rows x 31 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7761 entries, 0 to 7760
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   playerID      7520 non-null   object
 1   coachID       395 non-null    object
 2   hofID         366 non-null    object
 3   firstName     7748 non-null   object
 4   lastName      7761 non-null   object
 5   nameNote      18 non-null     object
 6   nameGiven     5985 non-null   object
 7   nameNick      1306 non-null   object
 8   height        7334 non-null   float64
 9   weight        7336 non-null   float64
 10  shootCatch    7048 non-null   object
 11  legendsID     6577 non-null   object
 12  ihdbID        7125 non-null   float64
 13  hrefID        7457 non-null   object
 14  firstNHL      6851 non-null   float64
 15  lastNHL       6851 non-null   float64
 16  firstWHA      903 non-null    float64
 17  lastWHA       903 non-null    float64
 18  pos           7447 non-null   object
 19  birthYear     7543 non-null   float64
 20  birthMon      7506 non-null   float64
 21  birthDay      7504 non-null   float64
 22  birthCountry  7396 non-null   object
 23  birthState    6324 non-null   object
 24  birthCity     7388 non-null   object
 25  deathYear     1320 non-null   float64
 26  deathMon      1173 non-null   float64
 27  deathDay      1168 non-null   float64
 28  deathCountry  498 non-null    object
 29  deathState    471 non-null    object
 30  deathCity     483 non-null    object
dtypes: float64(13), object(18)
memory usage: 1.8+ MB
None
            height       weight         ihdbID     firstNHL      lastNHL  \
count  7334.000000  7336.000000    7125.000000  6851.000000  6851.000000
mean     71.904418   189.503953   18159.395930  1979.898555  1985.173551
std       2.328650    18.341611   22852.778006    24.150092    24.359206
min      63.000000   125.000000      45.000000  1917.000000  1917.000000
25%      70.000000   178.000000    3339.000000  1968.000000  1974.000000
50%      72.000000   190.000000    7500.000000  1985.000000  1991.000000
75%      73.000000   200.000000   23463.000000  1999.000000  2006.000000
max      81.000000   265.000000  118280.000000  2011.000000  2011.000000

          firstWHA      lastWHA    birthYear     birthMon     birthDay  \
count   903.000000   903.000000  7543.000000  7506.000000  7504.000000
mean   1974.256921  1975.746401  1955.170091     6.056088    15.605144
std       2.123774     1.947460    26.379075     3.434267     8.917103
min    1972.000000  1972.000000  1841.000000     1.000000     1.000000
25%    1972.000000  1974.000000  1943.000000     3.000000     8.000000
50%    1974.000000  1976.000000  1961.000000     6.000000    15.000000
75%    1976.000000  1978.000000  1975.000000     9.000000    23.000000
max    1978.000000  1978.000000  1993.000000    12.000000    31.000000

         deathYear     deathMon     deathDay
count  1320.000000  1173.000000  1168.000000
mean   2547.587121     6.670929    15.244863
std    2052.311223     3.484605     8.601029
min    1907.000000     1.000000     1.000000
25%    1970.000000     4.000000     8.000000
50%    1989.000000     7.000000    15.000000
75%    2002.000000    10.000000    23.000000
max    9999.000000    12.000000    31.000000
(7761, 31)
playerID         241
coachID         7366
hofID           7395
firstName         13
lastName           0
nameNote        7743
nameGiven       1776
nameNick        6455
height           427
weight           425
shootCatch       713
legendsID       1184
ihdbID           636
hrefID           304
firstNHL         910
lastNHL          910
firstWHA        6858
lastWHA         6858
pos              314
birthYear        218
birthMon         255
birthDay         257
birthCountry     365
birthState      1437
birthCity        373
deathYear       6441
deathMon        6588
deathDay        6593
deathCountry    7263
deathState      7290
deathCity       7278
dtype: int64

In [40]:
see_file('data/Master.csv')

    playerID coachID hofID firstName    lastName nameNote         nameGiven  \
0  aaltoan01     NaN   NaN     Antti       Aalto      NaN             Antti
1  abbeybr01     NaN   NaN     Bruce       Abbey      NaN             Bruce
2  abbotge01     NaN   NaN    George      Abbott      NaN      George Henry
3  abbotre01     NaN   NaN       Reg      Abbott      NaN  Reginald Stewart
4  abdelju01     NaN   NaN    Justin  Abdelkader      NaN               NaN

   nameNick  height  weight  ... birthDay birthCountry  birthState  \
0       NaN    73.0   210.0  ...      4.0      Finland         NaN
1       NaN    73.0   185.0  ...     18.0       Canada          ON
2  Preacher    67.0   153.0  ...      3.0       Canada          ON
3       NaN    71.0   164.0  ...      4.0       Canada          MB
4       NaN    73.0   195.0  ...     25.0          USA          MI

      birthCity  deathYear  deathMon  deathDay  deathCountry deathState  \
0  Lappeenranta        NaN       NaN       NaN           NaN        NaN
1       Toronto        NaN       NaN       NaN           NaN        NaN
2      Synenham        NaN       NaN       NaN           NaN        NaN
3      Winnipeg        NaN       NaN       NaN           NaN        NaN
4      Muskegon        NaN       NaN       NaN           NaN        NaN

   deathCity
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

[5 rows x 31 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7761 entries, 0 to 7760
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   playerID      7520 non-null   object
 1   coachID       395 non-null    object
 2   hofID         366 non-null    object
 3   firstName     7748 non-null   object
 4   lastName      7761 non-null   object
 5   nameNote      18 non-null     object
 6   nameGiven     5985 non-null   object
 7   nameNick      1306 non-null   object
 8   height        7334 non-null   float64
 9   weight        7336 non-null   float64
 10  shootCatch    7048 non-null   object
 11  legendsID     6577 non-null   object
 12  ihdbID        7125 non-null   float64
 13  hrefID        7457 non-null   object
 14  firstNHL      6851 non-null   float64
 15  lastNHL       6851 non-null   float64
 16  firstWHA      903 non-null    float64
 17  lastWHA       903 non-null    float64
 18  pos           7447 non-null   object
 19  birthYear     7543 non-null   float64
 20  birthMon      7506 non-null   float64
 21  birthDay      7504 non-null   float64
 22  birthCountry  7396 non-null   object
 23  birthState    6324 non-null   object
 24  birthCity     7388 non-null   object
 25  deathYear     1320 non-null   float64
 26  deathMon      1173 non-null   float64
 27  deathDay      1168 non-null   float64
 28  deathCountry  498 non-null    object
 29  deathState    471 non-null    object
 30  deathCity     483 non-null    object
dtypes: float64(13), object(18)
memory usage: 1.8+ MB
None
            height       weight         ihdbID     firstNHL      lastNHL  \
count  7334.000000  7336.000000    7125.000000  6851.000000  6851.000000
mean     71.904418   189.503953   18159.395930  1979.898555  1985.173551
std       2.328650    18.341611   22852.778006    24.150092    24.359206
min      63.000000   125.000000      45.000000  1917.000000  1917.000000
25%      70.000000   178.000000    3339.000000  1968.000000  1974.000000
50%      72.000000   190.000000    7500.000000  1985.000000  1991.000000
75%      73.000000   200.000000   23463.000000  1999.000000  2006.000000
max      81.000000   265.000000  118280.000000  2011.000000  2011.000000

          firstWHA      lastWHA    birthYear     birthMon     birthDay  \
count   903.000000   903.000000  7543.000000  7506.000000  7504.000000
mean   1974.256921  1975.746401  1955.170091     6.056088    15.605144
std       2.123774     1.947460    26.379075     3.434267     8.917103
min    1972.000000  1972.000000  1841.000000     1.000000     1.000000
25%    1972.000000  1974.000000  1943.000000     3.000000     8.000000
50%    1974.000000  1976.000000  1961.000000     6.000000    15.000000
75%    1976.000000  1978.000000  1975.000000     9.000000    23.000000
max    1978.000000  1978.000000  1993.000000    12.000000    31.000000

         deathYear     deathMon     deathDay
count  1320.000000  1173.000000  1168.000000
mean   2547.587121     6.670929    15.244863
std    2052.311223     3.484605     8.601029
min    1907.000000     1.000000     1.000000
25%    1970.000000     4.000000     8.000000
50%    1989.000000     7.000000    15.000000
75%    2002.000000    10.000000    23.000000
max    9999.000000    12.000000    31.000000
(7761, 31)

In [62]:
see_file('data/Scoring.csv')

    playerID  year  stint tmID lgID pos    GP    G     A   Pts  ...  PostA  \
0  aaltoan01  1997      1  ANA  NHL   C   3.0  0.0   0.0   0.0  ...    NaN
1  aaltoan01  1998      1  ANA  NHL   C  73.0  3.0   5.0   8.0  ...    0.0
2  aaltoan01  1999      1  ANA  NHL   C  63.0  7.0  11.0  18.0  ...    NaN
3  aaltoan01  2000      1  ANA  NHL   C  12.0  1.0   1.0   2.0  ...    NaN
4  abbeybr01  1975      1  CIN  WHA   D  17.0  1.0   0.0   1.0  ...    NaN

   PostPts  PostPIM  Post+/-  PostPPG  PostPPA  PostSHG  PostSHA  PostGWG  \
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1      0.0      2.0      0.0      0.0      0.0      0.0      0.0      0.0
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

   PostSOG
0      NaN
1      0.0
2      NaN
3      NaN
4      NaN

[5 rows x 31 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45967 entries, 0 to 45966
Data columns (total 31 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  45967 non-null  object
 1   year      45967 non-null  int64
 2   stint     45967 non-null  int64
 3   tmID      45967 non-null  object
 4   lgID      45967 non-null  object
 5   pos       45385 non-null  object
 6   GP        45699 non-null  float64
 7   G         45699 non-null  float64
 8   A         45699 non-null  float64
 9   Pts       45699 non-null  float64
 10  PIM       45699 non-null  float64
 11  +/-       36265 non-null  float64
 12  PPG       37748 non-null  float64
 13  PPA       23040 non-null  float64
 14  SHG       37744 non-null  float64
 15  SHA       23214 non-null  float64
 16  GWG       36567 non-null  float64
 17  GTG       28106 non-null  float64
 18  SOG       36364 non-null  float64
 19  PostGP    19153 non-null  float64
 20  PostG     19153 non-null  float64
 21  PostA     19094 non-null  float64
 22  PostPts   19094 non-null  float64
 23  PostPIM   19094 non-null  float64
 24  Post+/-   11004 non-null  float64
 25  PostPPG   14492 non-null  float64
 26  PostPPA   8854 non-null   float64
 27  PostSHG   14492 non-null  float64
 28  PostSHA   8855 non-null   float64
 29  PostGWG   15657 non-null  float64
 30  PostSOG   10392 non-null  float64
dtypes: float64(25), int64(2), object(4)
memory usage: 10.9+ MB
None
               year         stint            GP             G             A  \
count  45967.000000  45967.000000  45699.000000  45699.000000  45699.000000
mean    1981.589836      1.085105     41.105035      7.246701     11.491039
std       24.010906      0.290874     27.590780      9.805894     13.835696
min     1909.000000      1.000000      1.000000      0.000000      0.000000
25%     1973.000000      1.000000     14.000000      0.000000      1.000000
50%     1987.000000      1.000000     42.000000      3.000000      6.000000
75%     2000.000000      1.000000     68.000000     11.000000     18.000000
max     2011.000000      4.000000     84.000000     92.000000    163.000000

                Pts           PIM           +/-           PPG           PPA  \
count  45699.000000  45699.000000  36265.000000  37748.000000  23040.000000
mean      18.737740     35.306943     -0.294582      1.830799      3.353646
std       22.476742     44.314809     11.662230      3.393624      6.019307
min        0.000000      0.000000    -82.000000      0.000000      0.000000
25%        1.000000      4.000000     -5.000000      0.000000      0.000000
50%       10.000000     20.000000      0.000000      0.000000      0.000000
75%       28.000000     49.000000      3.000000      2.000000      4.000000
max      215.000000    472.000000    124.000000     34.000000     58.000000

       ...         PostA       PostPts       PostPIM       Post+/-  \
count  ...  19094.000000  19094.000000  19094.000000  11004.000000
mean   ...      1.980256      3.221902      7.488059     -0.061160
std    ...      2.869164      4.463783     10.701848      3.336144
min    ...      0.000000      0.000000      0.000000    -15.000000
25%    ...      0.000000      0.000000      0.000000     -2.000000
50%    ...      1.000000      2.000000      4.000000      0.000000
75%    ...      3.000000      4.000000     10.000000      1.000000
max    ...     31.000000     47.000000    141.000000     28.000000

            PostPPG      PostPPA       PostSHG      PostSHA       PostGWG  \
count  14492.000000  8854.000000  14492.000000  8855.000000  15657.000000
mean       0.355437     0.709962      0.050235     0.054094      0.219646
std        0.855438     1.473789      0.248580     0.255301      0.567248
min        0.000000     0.000000      0.000000     0.000000      0.000000
25%        0.000000     0.000000      0.000000     0.000000      0.000000
50%        0.000000     0.000000      0.000000     0.000000      0.000000
75%        0.000000     1.000000      0.000000     0.000000      0.000000
max        9.000000    19.000000      3.000000     4.000000      7.000000

            PostSOG
count  10392.000000
mean      13.480947
std       14.633692
min        0.000000
25%        3.000000
50%        9.000000
75%       19.000000
max      116.000000

[8 rows x 27 columns]
(45967, 31)
playerID        0
year            0
stint           0
tmID            0
lgID            0
pos           582
GP            268
G             268
A             268
Pts           268
PIM           268
+/-          9702
PPG          8219
PPA         22927
SHG          8223
SHA         22753
GWG          9400
GTG         17861
SOG          9603
PostGP      26814
PostG       26814
PostA       26873
PostPts     26873
PostPIM     26873
Post+/-     34963
PostPPG     31475
PostPPA     37113
PostSHG     31475
PostSHA     37112
PostGWG     30310
PostSOG     35575
dtype: int64

In [43]:
see_file('data/ScoringSC.csv')

    playerID  year tmID  lgID pos  GP  G  A  Pts  PIM
0  adamsbi01  1920  VML  PCHA   R   4  0  0    0    0
1  adamsja01  1920  VML  PCHA   C   5  2  1    3    6
2  adamsja01  1921  VML  PCHA   C   5  6  1    7   18
3  anderer02  1923  CAT  WCHL   R   2  0  0    0    2
4  anderjo03  1924  VIC  WCHL   L   4  1  0    1   10
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  284 non-null    object
 1   year      284 non-null    int64
 2   tmID      284 non-null    object
 3   lgID      284 non-null    object
 4   pos       284 non-null    object
 5   GP        284 non-null    int64
 6   G         284 non-null    int64
 7   A         284 non-null    int64
 8   Pts       284 non-null    int64
 9   PIM       284 non-null    int64
dtypes: int64(6), object(4)
memory usage: 22.3+ KB
None
              year          GP           G           A         Pts         PIM
count   284.000000  284.000000  284.000000  284.000000  284.000000  284.000000
mean   1919.066901    3.859155    1.274648    0.535211    1.809859    4.890845
std       4.015750    1.162376    1.928563    0.929774    2.374580    6.725726
min    1912.000000    1.000000    0.000000    0.000000    0.000000    0.000000
25%    1915.750000    3.000000    0.000000    0.000000    0.000000    0.000000
50%    1920.000000    4.000000    1.000000    0.000000    1.000000    3.000000
75%    1923.000000    5.000000    2.000000    1.000000    3.000000    7.000000
max    1925.000000    6.000000   14.000000    6.000000   16.000000   44.000000
(284, 10)

In [63]:
see_file('data/ScoringShootout.csv')

    playerID  year  stint tmID  S  G  GDG
0  adamske01  2006      1  PHO  1  0    0
1  afanadm01  2005      1  TBL  1  0    0
2  afanadm01  2006      1  TBL  2  1    1
3  afinoma01  2005      1  BUF  5  3    2
4  afinoma01  2006      1  BUF  6  2    1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072 entries, 0 to 2071
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  2072 non-null   object
 1   year      2072 non-null   int64
 2   stint     2072 non-null   int64
 3   tmID      2072 non-null   object
 4   S         2072 non-null   int64
 5   G         2072 non-null   int64
 6   GDG       2072 non-null   int64
dtypes: int64(5), object(2)
memory usage: 113.4+ KB
None
              year        stint            S            G          GDG
count  2072.000000  2072.000000  2072.000000  2072.000000  2072.000000
mean   2008.001931     1.058398     3.464768     1.644788     0.549228
std       1.991531     0.240647     3.168793     2.253230     0.865950
min    2005.000000     1.000000     0.000000     0.000000     0.000000
25%    2006.000000     1.000000     1.000000     0.000000     0.000000
50%    2008.000000     1.000000     2.000000     1.000000     0.000000
75%    2010.000000     1.000000     5.000000     2.000000     1.000000
max    2011.000000     3.000000    18.000000    16.000000     7.000000
(2072, 7)
playerID    0
year        0
stint       0
tmID        0
S           0
G           0
GDG         0
dtype: int64

In [45]:
see_file('data/SeriesPost.csv')

   year round series tmIDWinner lgIDWinner tmIDLoser lgIDLoser  W  L  T  \
0  1912   SCF    NaN        VA1       PCHA       QU1       NHA  2  1  0
1  1913     F    NaN        TBS        NHA       MOC       NHA  1  1  0
2  1913   SCF    NaN        TBS        NHA       VA1      PCHA  3  0  0
3  1914     F    NaN        OT1        NHA       MOW       NHA  1  1  0
4  1914   SCF    NaN        VML       PCHA       OT1       NHA  3  0  0

   GoalsWinner  GoalsLoser note
0           16          12   EX
1            6           2   TG
2           13           8  NaN
3            4           1   TG
4           26           8  NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 832 entries, 0 to 831
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         832 non-null    int64
 1   round        832 non-null    object
 2   series       739 non-null    object
 3   tmIDWinner   832 non-null    object
 4   lgIDWinner   832 non-null    object
 5   tmIDLoser    832 non-null    object
 6   lgIDLoser    832 non-null    object
 7   W            832 non-null    int64
 8   L            832 non-null    int64
 9   T            832 non-null    int64
 10  GoalsWinner  832 non-null    int64
 11  GoalsLoser   832 non-null    int64
 12  note         59 non-null     object
dtypes: int64(6), object(7)
memory usage: 84.6+ KB
None
              year           W           L           T  GoalsWinner  \
count   832.000000  832.000000  832.000000  832.000000   832.000000
mean   1977.222356    3.572115    1.367788    0.040865    17.143029
std      25.550117    0.860745    1.070025    0.204082     6.482967
min    1912.000000    0.000000    0.000000    0.000000     0.000000
25%    1967.750000    4.000000    0.000000    0.000000    14.000000
50%    1983.000000    4.000000    1.000000    0.000000    17.000000
75%    1997.000000    4.000000    2.000000    0.000000    21.000000
max    2011.000000    4.000000    4.000000    2.000000    44.000000

       GoalsLoser
count  832.000000
mean    11.825721
std      6.248536
min      0.000000
25%      7.000000
50%     11.500000
75%     16.000000
max     35.000000
(832, 13)

In [64]:
see_file('data/Teams.csv')

   year lgID tmID franchID confID divID  rank playoff   G   W  ...   GA  \
0  1909  NHA  COB      BKN    NaN   NaN     4     NaN  12   4  ...  104
1  1909  NHA  HAI      MTL    NaN   NaN     5     NaN  12   4  ...   83
2  1909  NHA  LES      TBS    NaN   NaN     7     NaN  12   2  ...  100
3  1909  NHA  MOS      MOS    NaN   NaN     6     NaN  12   3  ...   95
4  1909  NHA  MOW      MTW    NaN   NaN     1     NaN  12  11  ...   41

                     name  PIM  BenchMinor  PPG  PPC  SHA  PKG PKC  SHF
0     Cobalt Silver Kings  NaN         NaN  NaN  NaN  NaN  NaN NaN  NaN
1  Haileybury Hockey Club  NaN         NaN  NaN  NaN  NaN  NaN NaN  NaN
2           Les Canadiens  NaN         NaN  NaN  NaN  NaN  NaN NaN  NaN
3      Montreal Shamrocks  NaN         NaN  NaN  NaN  NaN  NaN NaN  NaN
4      Montreal Wanderers  NaN         NaN  NaN  NaN  NaN  NaN NaN  NaN

[5 rows x 27 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1519 entries, 0 to 1518
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        1519 non-null   int64
 1   lgID        1519 non-null   object
 2   tmID        1519 non-null   object
 3   franchID    1519 non-null   object
 4   confID      902 non-null    object
 5   divID       1171 non-null   object
 6   rank        1519 non-null   int64
 7   playoff     936 non-null    object
 8   G           1519 non-null   int64
 9   W           1519 non-null   int64
 10  L           1519 non-null   int64
 11  T           1309 non-null   float64
 12  OTL         358 non-null    float64
 13  Pts         1519 non-null   int64
 14  SoW         210 non-null    float64
 15  SoL         210 non-null    float64
 16  GF          1519 non-null   int64
 17  GA          1519 non-null   int64
 18  name        1519 non-null   object
 19  PIM         1409 non-null   float64
 20  BenchMinor  1028 non-null   float64
 21  PPG         1101 non-null   float64
 22  PPC         1100 non-null   float64
 23  SHA         1101 non-null   float64
 24  PKG         1101 non-null   float64
 25  PKC         1100 non-null   float64
 26  SHF         1101 non-null   float64
dtypes: float64(12), int64(8), object(7)
memory usage: 320.5+ KB
None
              year         rank            G            W            L  \
count  1519.000000  1519.000000  1519.000000  1519.000000  1519.000000
mean   1974.527979     3.219223    69.518104    30.872284    29.113891
std      28.708711     1.667720    19.699843    12.061197    11.234513
min    1909.000000     1.000000     1.000000     0.000000     1.000000
25%    1957.000000     2.000000    70.000000    22.000000    21.500000
50%    1981.000000     3.000000    80.000000    32.000000    29.000000
75%    1998.000000     4.000000    82.000000    40.000000    37.000000
max    2011.000000    10.000000    84.000000    62.000000    71.000000

                 T         OTL          Pts         SoW         SoL  \
count  1309.000000  358.000000  1519.000000  210.000000  210.000000
mean      9.020626    7.460894    71.276498    5.419048    5.419048
std       4.970282    3.610191    26.277603    2.561328    2.192990
min       0.000000    0.000000     0.000000    0.000000    1.000000
25%       6.000000    5.000000    54.000000    4.000000    4.000000
50%       9.000000    7.000000    75.000000    5.000000    5.000000
75%      12.000000   10.000000    91.000000    7.000000    7.000000
max      24.000000   18.000000   132.000000   15.000000   12.000000

                GF           GA          PIM   BenchMinor          PPG  \
count  1519.000000  1519.000000  1409.000000  1028.000000  1101.000000
mean    218.764977   218.764977  1139.860185    15.740272    62.803815
std      77.905094    79.168426   503.841236     7.545232    16.540408
min       4.000000     8.000000     2.000000     0.000000    16.000000
25%     176.000000   173.500000   823.000000    10.000000    51.000000
50%     227.000000   228.000000  1114.000000    16.000000    61.000000
75%     273.500000   276.000000  1463.000000    20.000000    74.000000
max     446.000000   446.000000  2713.000000    56.000000   119.000000

               PPC          SHA          PKG          PKC          SHF
count  1100.000000  1101.000000  1101.000000  1100.000000  1101.000000
mean    332.540000     8.753860    62.803815   332.626364     8.746594
std      66.880887     3.921305    16.989719    69.423922     4.518477
min     107.000000     0.000000    24.000000   130.000000     0.000000
25%     283.000000     6.000000    51.000000   279.750000     6.000000
50%     331.000000     8.000000    61.000000   330.000000     8.000000
75%     375.000000    11.000000    74.000000   381.000000    11.000000
max     541.000000    22.000000   122.000000   550.000000    36.000000
(1519, 27)
year             0
lgID             0
tmID             0
franchID         0
confID         617
divID          348
rank             0
playoff        583
G                0
W                0
L                0
T              210
OTL           1161
Pts              0
SoW           1309
SoL           1309
GF               0
GA               0
name             0
PIM            110
BenchMinor     491
PPG            418
PPC            419
SHA            418
PKG            418
PKC            419
SHF            418
dtype: int64

In [47]:
see_file('data/TeamsHalf.csv')

   year lgID tmID  half  rank   G  W  L  T  GF  GA
0  1916  NHA  MOC     1     1  10  7  3  0  58  38
1  1916  NHA  MOC     2     3  10  3  7  0  31  42
2  1916  NHA  MOW     1     5  10  3  7  0  56  72
3  1916  NHA  MOW     2     4  10  2  8  0  38  65
4  1916  NHA  OT1     1     2  10  7  3  0  56  41
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    41 non-null     int64
 1   lgID    41 non-null     object
 2   tmID    41 non-null     object
 3   half    41 non-null     int64
 4   rank    41 non-null     int64
 5   G       41 non-null     int64
 6   W       41 non-null     int64
 7   L       41 non-null     int64
 8   T       41 non-null     int64
 9   GF      41 non-null     int64
 10  GA      41 non-null     int64
dtypes: int64(9), object(2)
memory usage: 3.6+ KB
None
              year       half       rank          G          W          L  \
count    41.000000  41.000000  41.000000  41.000000  41.000000  41.000000
mean   1917.829268   1.487805   2.682927  10.390244   5.195122   5.195122
std       1.531379   0.506061   1.404262   2.498780   2.685326   2.472039
min    1916.000000   1.000000   1.000000   4.000000   1.000000   1.000000
25%    1916.000000   1.000000   2.000000  10.000000   3.000000   3.000000
50%    1918.000000   1.000000   3.000000  10.000000   5.000000   5.000000
75%    1919.000000   2.000000   4.000000  12.000000   7.000000   7.000000
max    1920.000000   2.000000   6.000000  14.000000  10.000000  11.000000

          T         GF         GA
count  41.0  41.000000  41.000000
mean    0.0  47.975610  47.975610
std     0.0  17.490694  20.342674
min     0.0   3.000000  12.000000
25%     0.0  37.000000  37.000000
50%     0.0  49.000000  46.000000
75%     0.0  62.000000  57.000000
max     0.0  81.000000  96.000000
(41, 11)

In [65]:
see_file('data/TeamSplits.csv')

   year lgID tmID  hW  hL   hT  hOTL  rW  rL   rT  ...  FebT  FebOL  MarW  \
0  1909  NHA  COB   2   4  0.0   NaN   2   4  0.0  ...   0.0    NaN   1.0
1  1909  NHA  HAI   3   3  0.0   NaN   1   5  0.0  ...   0.0    NaN   1.0
2  1909  NHA  LES   2   4  0.0   NaN   0   6  0.0  ...   0.0    NaN   1.0
3  1909  NHA  MOS   3   2  1.0   NaN   0   6  0.0  ...   0.0    NaN   1.0
4  1909  NHA  MOW   6   0  0.0   NaN   5   1  0.0  ...   0.0    NaN   3.0

   MarL  MarT  MarOL  AprW  AprL  AprT  AprOL
0   4.0   0.0    NaN   NaN   NaN   NaN    NaN
1   0.0   0.0    NaN   NaN   NaN   NaN    NaN
2   2.0   0.0    NaN   NaN   NaN   NaN    NaN
3   1.0   0.0    NaN   NaN   NaN   NaN    NaN
4   0.0   0.0    NaN   NaN   NaN   NaN    NaN

[5 rows x 43 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1519 entries, 0 to 1518
Data columns (total 43 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    1519 non-null   int64
 1   lgID    1519 non-null   object
 2   tmID    1519 non-null   object
 3   hW      1519 non-null   int64
 4   hL      1519 non-null   int64
 5   hT      1309 non-null   float64
 6   hOTL    358 non-null    float64
 7   rW      1519 non-null   int64
 8   rL      1519 non-null   int64
 9   rT      1309 non-null   float64
 10  rOTL    358 non-null    float64
 11  SepW    2 non-null      float64
 12  SepL    2 non-null      float64
 13  SepT    0 non-null      float64
 14  SepOL   2 non-null      float64
 15  OctW    1199 non-null   float64
 16  OctL    1199 non-null   float64
 17  OctT    989 non-null    float64
 18  OctOL   358 non-null    float64
 19  NovW    1358 non-null   float64
 20  NovL    1358 non-null   float64
 21  NovT    1148 non-null   float64
 22  NovOL   358 non-null    float64
 23  DecW    1473 non-null   float64
 24  DecL    1473 non-null   float64
 25  DecT    1263 non-null   float64
 26  DecOL   358 non-null    float64
 27  JanW    1515 non-null   float64
 28  JanL    1515 non-null   float64
 29  JanT    1305 non-null   float64
 30  JanOL   358 non-null    float64
 31  FebW    1510 non-null   float64
 32  FebL    1510 non-null   float64
 33  FebT    1300 non-null   float64
 34  FebOL   358 non-null    float64
 35  MarW    1485 non-null   float64
 36  MarL    1485 non-null   float64
 37  MarT    1275 non-null   float64
 38  MarOL   358 non-null    float64
 39  AprW    1018 non-null   float64
 40  AprL    1018 non-null   float64
 41  AprT    808 non-null    float64
 42  AprOL   358 non-null    float64
dtypes: float64(36), int64(5), object(2)
memory usage: 510.4+ KB
None
              year           hW           hL           hT        hOTL  \
count  1519.000000  1519.000000  1519.000000  1309.000000  358.000000
mean   1974.527979    18.222515    11.804477     4.511077    3.586592
std      28.708711     6.806510     5.548382     2.822622    2.301391
min    1909.000000     0.000000     0.000000     0.000000    0.000000
25%    1957.000000    14.000000     8.000000     2.000000    2.000000
50%    1981.000000    19.000000    12.000000     5.000000    3.000000
75%    1998.000000    23.000000    16.000000     6.000000    5.000000
max    2011.000000    36.000000    33.000000    13.000000   11.000000

                rW           rL           rT        rOTL  SepW  ...  \
count  1519.000000  1519.000000  1309.000000  358.000000   2.0  ...
mean     12.649770    17.309414     4.511077    3.874302   1.0  ...
std       6.033267     6.484733     2.908793    2.100649   0.0  ...
min       0.000000     1.000000     0.000000    0.000000   1.0  ...
25%       8.000000    13.000000     2.000000    2.000000   1.0  ...
50%      13.000000    18.000000     5.000000    4.000000   1.0  ...
75%      17.000000    22.000000     6.000000    5.000000   1.0  ...
max      31.000000    41.000000    15.000000   10.000000   1.0  ...

              FebT       FebOL         MarW         MarL         MarT  \
count  1300.000000  358.000000  1485.000000  1485.000000  1275.000000
mean      1.458462    1.081006     5.463973     5.108418     1.483922
std       1.297465    1.088070     2.772278     2.687641     1.332017
min       0.000000    0.000000     0.000000     0.000000     0.000000
25%       0.000000    0.000000     3.000000     3.000000     0.000000
50%       1.000000    1.000000     6.000000     5.000000     1.000000
75%       2.000000    2.000000     7.000000     7.000000     2.000000
max       8.000000    5.000000    13.000000    15.000000     7.000000

            MarOL         AprW         AprL        AprT       AprOL
count  358.000000  1018.000000  1018.000000  808.000000  358.000000
mean     1.474860     1.977407     1.806483    0.527228    0.486034
std      1.260556     1.687621     1.620565    0.736212    0.692962
min      0.000000     0.000000     0.000000    0.000000    0.000000
25%      1.000000     1.000000     1.000000    0.000000    0.000000
50%      1.000000     2.000000     1.000000    0.000000    0.000000
75%      2.000000     3.000000     2.000000    1.000000    1.000000
max      6.000000    10.000000    10.000000    5.000000    3.000000

[8 rows x 41 columns]
(1519, 43)
year        0
lgID        0
tmID        0
hW          0
hL          0
hT        210
hOTL     1161
rW          0
rL          0
rT        210
rOTL     1161
SepW     1517
SepL     1517
SepT     1519
SepOL    1517
OctW      320
OctL      320
OctT      530
OctOL    1161
NovW      161
NovL      161
NovT      371
NovOL    1161
DecW       46
DecL       46
DecT      256
DecOL    1161
JanW        4
JanL        4
JanT      214
JanOL    1161
FebW        9
FebL        9
FebT      219
FebOL    1161
MarW       34
MarL       34
MarT      244
MarOL    1161
AprW      501
AprL      501
AprT      711
AprOL    1161
dtype: int64

In [49]:
see_file('data/TeamsPost.csv')

   year lgID tmID  G  W  L  T  GF  GA  PIM  BenchMinor  PPG  PPC  SHA  PKG  \
0  1913  NHA  MOC  2  1  1  0   2   6  NaN         NaN  NaN  NaN  NaN  NaN
1  1913  NHA  TBS  2  1  1  0   6   2  NaN         NaN  NaN  NaN  NaN  NaN
2  1914  NHA  MOW  2  1  1  0   1   4  NaN         NaN  NaN  NaN  NaN  NaN
3  1914  NHA  OT1  2  1  1  0   4   1  NaN         NaN  NaN  NaN  NaN  NaN
4  1916  NHA  MOC  2  1  1  0   7   6  NaN         NaN  NaN  NaN  NaN  NaN

   PKC  SHF
0  NaN  NaN
1  NaN  NaN
2  NaN  NaN
3  NaN  NaN
4  NaN  NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 927 entries, 0 to 926
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        927 non-null    int64
 1   lgID        927 non-null    object
 2   tmID        927 non-null    object
 3   G           927 non-null    int64
 4   W           927 non-null    int64
 5   L           927 non-null    int64
 6   T           927 non-null    int64
 7   GF          927 non-null    int64
 8   GA          927 non-null    int64
 9   PIM         841 non-null    float64
 10  BenchMinor  572 non-null    float64
 11  PPG         636 non-null    float64
 12  PPC         580 non-null    float64
 13  SHA         604 non-null    float64
 14  PKG         636 non-null    float64
 15  PKC         580 non-null    float64
 16  SHF         636 non-null    float64
dtypes: float64(8), int64(7), object(2)
memory usage: 123.2+ KB
None
              year           G           W           L           T  \
count   927.000000  927.000000  927.000000  927.000000  927.000000
mean   1976.143474    8.809061    4.366775    4.366775    0.075512
std      25.697272    5.571371    4.152505    2.062547    0.326501
min    1913.000000    2.000000    0.000000    0.000000    0.000000
25%    1963.000000    5.000000    1.000000    3.000000    0.000000
50%    1982.000000    7.000000    3.000000    4.000000    0.000000
75%    1996.000000   12.000000    7.000000    6.000000    0.000000
max    2011.000000   26.000000   16.000000   11.000000    4.000000

               GF          GA         PIM  BenchMinor         PPG         PPC  \
count  927.000000  927.000000  841.000000  572.000000  636.000000  580.000000
mean    25.601942   25.601942  160.376932    1.870629    8.102201   45.893103
std     20.561505   15.456555  127.146613    2.365257    6.088631   28.566843
min      0.000000    0.000000    8.000000    0.000000    0.000000    4.000000
25%     10.000000   15.000000   72.000000    0.000000    3.000000   24.000000
50%     19.000000   22.000000  125.000000    2.000000    6.000000   38.000000
75%     36.000000   34.000000  212.000000    2.500000   12.000000   61.000000
max     98.000000   91.000000  871.000000   14.000000   35.000000  152.000000

              SHA         PKG         PKC         SHF
count  604.000000  636.000000  580.000000  636.000000
mean     1.097682    8.102201   45.893103    1.144654
std      1.271734    5.021898   28.100528    1.528054
min      0.000000    0.000000    3.000000    0.000000
25%      0.000000    4.000000   25.000000    0.000000
50%      1.000000    7.000000   39.000000    1.000000
75%      2.000000   11.000000   62.250000    2.000000
max      8.000000   26.000000  158.000000   10.000000
(927, 17)

In [66]:
see_file('data/TeamsSC.csv')

   year  lgID tmID  G  W  L  T  GF  GA  PIM
0  1912   NHA  QU1  3  1  2  0  12  16  NaN
1  1912  PCHA  VA1  3  2  1  0  16  12  NaN
2  1913   NHA  TBS  3  3  0  0  13   8  NaN
3  1913  PCHA  VA1  3  0  3  0   8  13  NaN
4  1914   NHA  OT1  3  0  3  0   8  26  NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    30 non-null     int64
 1   lgID    30 non-null     object
 2   tmID    30 non-null     object
 3   G       30 non-null     int64
 4   W       30 non-null     int64
 5   L       30 non-null     int64
 6   T       30 non-null     int64
 7   GF      30 non-null     int64
 8   GA      30 non-null     int64
 9   PIM     8 non-null      float64
dtypes: float64(1), int64(7), object(2)
memory usage: 2.5+ KB
None
              year          G          W          L          T        GF  \
count    30.000000  30.000000  30.000000  30.000000  30.000000  30.00000
mean   1918.766667   4.066667   2.000000   2.000000   0.066667  12.30000
std       4.091061   1.080655   1.286535   0.982607   0.253708   6.28161
min    1912.000000   2.000000   0.000000   0.000000   0.000000   1.00000
25%    1915.250000   3.000000   1.000000   1.250000   0.000000   8.25000
50%    1919.000000   4.000000   2.000000   2.000000   0.000000  12.00000
75%    1922.000000   5.000000   3.000000   3.000000   0.000000  15.75000
max    1925.000000   6.000000   5.000000   3.000000   1.000000  26.00000

              GA       PIM
count  30.000000   8.00000
mean   12.433333  42.37500
std     5.757654  19.89212
min     3.000000  18.00000
25%     8.250000  23.00000
50%    12.000000  49.50000
75%    16.000000  50.75000
max    26.000000  75.00000
(30, 10)
year     0
lgID     0
tmID     0
G        0
W        0
L        0
T        0
GF       0
GA       0
PIM     22
dtype: int64

In [67]:
see_file('data/TeamVsTeam.csv')

   year lgID tmID oppID  W  L    T  OTL
0  1909  NHA  COB   HAI  1  1  0.0  NaN
1  1909  NHA  COB   LES  2  0  0.0  NaN
2  1909  NHA  COB   MOS  1  1  0.0  NaN
3  1909  NHA  COB   MOW  0  2  0.0  NaN
4  1909  NHA  COB   OT1  0  2  0.0  NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25602 entries, 0 to 25601
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    25602 non-null  int64
 1   lgID    25602 non-null  object
 2   tmID    25602 non-null  object
 3   oppID   25602 non-null  object
 4   W       25602 non-null  int64
 5   L       25602 non-null  int64
 6   T       19962 non-null  float64
 7   OTL     9874 non-null   float64
dtypes: float64(2), int64(3), object(3)
memory usage: 1.6+ MB
None
               year             W             L             T          OTL
count  25602.000000  25602.000000  25602.000000  19962.000000  9874.000000
mean    1988.174518      1.831693      1.727365      0.591624     0.270508
std       21.028283      1.613870      1.603200      0.846370     0.541639
min     1909.000000      0.000000      0.000000      0.000000     0.000000
25%     1979.000000      1.000000      1.000000      0.000000     0.000000
50%     1994.000000      1.000000      1.000000      0.000000     0.000000
75%     2003.000000      3.000000      2.000000      1.000000     0.000000
max     2011.000000     13.000000     13.000000      8.000000     4.000000
(25602, 8)
year         0
lgID         0
tmID         0
oppID        0
W            0
L            0
T         5640
OTL      15728
dtype: int64