#### Gordie Howe Stats and Awards

In [1]:
# imports
import pandas as pd
import numpy as np
import zipfile
import os

In [2]:
# unzip the folder
with zipfile.ZipFile('data/HockeyData.zip', 'r') as zip_ref:
    zip_ref.extractall('data')

**Hall of Fame dataframe**

In [3]:
# read hall of fame csv file
hof = pd.read_csv('data/HOF.csv')

In [5]:
# check if Gordie Howe has been admitted to the hall of fame 
hof.loc[hof['name']=='Gordie Howe']

     year      hofID         name category
183  1972  howego01h  Gordie Howe   Player

**Player awards**

In [6]:
# read awards csv file
awards = pd.read_csv('data/AwardsPlayers.csv')

In [7]:
# observe the awards given to Howe
howe_awards = awards.loc[awards['playerID'] == 'howego01'] 
howe_awards.head()

     playerID                 award  year lgID note  pos
346  howego01  Second Team All-Star  1948  NHL  NaN   RW
361  howego01  Second Team All-Star  1949  NHL  NaN   RW
368  howego01              Art Ross  1950  NHL  NaN  NaN
370  howego01   First Team All-Star  1950  NHL  NaN   RW
386  howego01              Art Ross  1951  NHL  NaN  NaN

**Master dataframe**

In [8]:
# read master csv file
master = pd.read_csv('data/Master.csv')

In [9]:
# see Howe's stats
howe_stats = master.loc[master['playerID'] == 'howego01']
howe_stats

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
3044,howego01,NaN,howego01h,Gordie,Howe,NaN,Gordon,Mr. Hockey,72.0,205.0,...,31.0,Canada,SK,Floral,NaN,NaN,NaN,NaN,NaN,NaN

**Scoring**

In [10]:
# read scoring csv file
scoring = pd.read_csv('data/Scoring.csv')

In [11]:
scoring.columns

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'PPG', 'PPA', 'SHG', 'SHA', 'GWG', 'GTG', 'SOG',
       'PostGP', 'PostG', 'PostA', 'PostPts', 'PostPIM', 'Post+/-', 'PostPPG',
       'PostPPA', 'PostSHG', 'PostSHA', 'PostGWG', 'PostSOG'],
      dtype='object')

In [12]:
# observe stats scoring stats related to the player
howe_score = scoring.loc[scoring['playerID'] == 'howego01']
howe_score.head()

,playerID,year,stint,tmID,lgID,pos,GP,G,A,Pts,...,PostA,PostPts,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG
17877,howego01,1946,1,DET,NHL,R,58.0,7.0,15.0,22.0,...,0.0,0.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17878,howego01,1947,1,DET,NHL,R,60.0,16.0,28.0,44.0,...,1.0,2.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17879,howego01,1948,1,DET,NHL,R,40.0,12.0,25.0,37.0,...,3.0,11.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17880,howego01,1949,1,DET,NHL,R,70.0,35.0,33.0,68.0,...,0.0,0.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17881,howego01,1950,1,DET,NHL,R,70.0,43.0,43.0,86.0,...,3.0,7.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Shootouts**

In [13]:
# read scoring shootouts csv file
shoot = pd.read_csv('data/ScoringShootout.csv')

In [14]:
# observe shots / goals ratio
howe_shoot = shoot.loc[shoot['playerID'] == 'howego01']
howe_shoot.head()

Empty DataFrame
Columns: [playerID, year, stint, tmID, S, G, GDG]
Index: []

#### Detroit Red Wings Stats and Awards

**Series Wins & Losses**

In [15]:
# read series post csv file
series = pd.read_csv('data/SeriesPost.csv')

In [16]:
# see Red Wings' wins
det_wins = series.loc[series['tmIDWinner'] == 'DET']
det_wins.head()

,year,round,series,tmIDWinner,lgIDWinner,tmIDLoser,lgIDLoser,W,L,T,GoalsWinner,GoalsLoser,note
77,1932,QF,B,DET,NHL,MTM,NHL,2,0,0,5,2,TG
81,1933,SF,A,DET,NHL,TOR,NHL,3,2,0,11,12,NaN
91,1935,SF,A,DET,NHL,MTM,NHL,3,0,0,6,1,NaN
95,1935,SCF,E,DET,NHL,TOR,NHL,3,1,0,18,11,NaN
96,1936,SF,A,DET,NHL,MTL,NHL,3,2,0,13,8,NaN

In [17]:
# see Red Wings' losses
det_losses = series.loc[series['tmIDLoser'] == 'DET']
det_losses.head()

,year,round,series,tmIDWinner,lgIDWinner,tmIDLoser,lgIDLoser,W,L,T,GoalsWinner,GoalsLoser,note
79,1932,SF,D,NYR,NHL,DET,NHL,2,0,0,6,3,TG
85,1933,SCF,E,CHI,NHL,DET,NHL,3,1,0,9,7,NaN
109,1938,SF,D,TOR,NHL,DET,NHL,2,1,0,10,8,NaN
114,1939,SF,D,TOR,NHL,DET,NHL,2,0,0,5,2,NaN
120,1940,SCF,E,BOS,NHL,DET,NHL,4,0,0,12,6,NaN

**Team vs Team Stats**

In [19]:
# read team vs team csv file
team_vs_team = pd.read_csv('data/TeamVsTeam.csv')

In [20]:
# explore Red Wings' opponents
det_team_stats = team_vs_team.loc[team_vs_team['tmID'] == 'DET']
det_team_stats.head()

      year lgID tmID oppID  W  L    T  OTL
1120  1932  NHL  DET   BOS  3  2  1.0  NaN
1121  1932  NHL  DET   CHI  5  1  0.0  NaN
1122  1932  NHL  DET   MTL  3  2  1.0  NaN
1123  1932  NHL  DET   MTM  1  4  1.0  NaN
1124  1932  NHL  DET   NYA  3  0  3.0  NaN

**Team Stats**

In [21]:
# read teams csv file
teams = pd.read_csv('data/Teams.csv')

In [22]:
# see Red Wings' stats
det = teams.loc[teams['tmID'] == 'DET']
det.head()

,year,lgID,tmID,franchID,confID,divID,rank,playoff,G,W,...,GA,name,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
210,1932,NHL,DET,DET,NaN,AM,2,SF,48,25,...,93,Detroit Red Wings,462.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,1933,NHL,DET,DET,NaN,AM,1,F,48,24,...,98,Detroit Red Wings,368.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,1934,NHL,DET,DET,NaN,AM,4,NaN,48,19,...,114,Detroit Red Wings,326.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,1935,NHL,DET,DET,NaN,AM,1,SC,48,24,...,103,Detroit Red Wings,376.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,1936,NHL,DET,DET,NaN,AM,1,SC,48,25,...,102,Detroit Red Wings,244.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Teams Half Season**

In [23]:
# read teams half season csv file
teamshalf = pd.read_csv('data/TeamsHalf.csv')

In [24]:
# look at Red Wings' performance 
det_half = teamshalf.loc[teamshalf['tmID'] == 'DET']
det_half.head()

Empty DataFrame
Columns: [year, lgID, tmID, half, rank, G, W, L, T, GF, GA]
Index: []

**Teams Post Seasons**

In [25]:
# read Teams post season csv file
teamspost = pd.read_csv('data/TeamsPost.csv')

In [26]:
# see Red Wings' stats
det_post = teamspost.loc[teamspost['tmID'] == 'DET']
det_post.head()

,year,lgID,tmID,G,W,L,T,GF,GA,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
87,1932,NHL,DET,4,2,2,0,8,8,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,1933,NHL,DET,9,4,5,0,18,21,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,1935,NHL,DET,7,6,1,0,24,12,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,1936,NHL,DET,10,6,4,0,22,16,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,1938,NHL,DET,6,3,3,0,16,15,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Teams Stanley Cup**

In [27]:
# read teams stanley cup csv file
teamssc = pd.read_csv('data/TeamsSC.csv')

In [29]:
det_sc = teamssc.loc[teamssc['tmID'] == 'NYI'] # the data is up to 1925 and does not mention the Detroir Red Wings
det_sc.head()

Empty DataFrame
Columns: [year, lgID, tmID, G, W, L, T, GF, GA, PIM]
Index: []